{% extends 'base.html' %}
{% block title %}Covid on Campus{% endblock title %}
{% block content %}
{% load static %}
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center display-3">HSE Guidelines</h1>
    <p class="text-center"><a class="btn btn-primary btn-lg" href="https://www2.hse.ie/conditions/coronavirus/symptoms.html" target="_blank" role="button">Learn more on the HSE page »</a></p>
    <br>
    <img src="{% static '/images/covid-19.jpg'%}" style="
display: block;
margin-left: auto;
margin-right: auto;
width: 85%;">
  </div>

<hr>


 

{% endblock content %}