{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>EVENTS</title>
  <h2 style="text-align: center ";>MILLER GROVE UPCOMING EVENTS</h2>
  <h2 style="text-align: center ";>FOR OCTOBER</h2>
    </head>
    <body>
<div class="container-fluid">
  <div class="row">
<div class="col-sm-3 mt-3">
    <div class="card">
  <div class="card-body bg-light">
      MONDAY
  </div>
    </div>
</div>
<div class="col-sm-3 mt-3">
    <div class="card">
  <div class="card-body bg-light">
      TUESDAY
  </div>
    </div>
</div>
<div class="col-sm-3 mt-3">
    <div class="card">
  <div class="card-body bg-light">
      THURSDAY
  </div>
    </div>
</div>
<div class="col-sm-3 mt-3">
    <div class="card">
  <div class="card-body bg-light">
      FRIDAY
  </div>
    </div>
</div>
  </div>
  <div class="container-fluid">
    <div class="row">
  <div class="col-sm-3 mt-3">
      <div class="card">
    <div class="card-body bg-light">
        MONDAY
    </div>
      </div>
  </div>
  <div class="col-sm-3 mt-3">
      <div class="card">
    <div class="card-body bg-light">
        TUESDAY
    </div>
      </div>
  </div>
  <div class="col-sm-3 mt-3">
      <div class="card">
    <div class="card-body bg-light">
        THURSDAY
    </div>
      </div>
  </div>
  <div class="col-sm-3 mt-3">
      <div class="card">
    <div class="card-body bg-light">
        FRIDAY
    </div>
      </div>
  </div>
    </div>
  <div class="container-fluid">
  </div>
</div>
</body>
</html>
{% endblock content %}