{% extends 'base.html' %}
{% block title %}Miller Grove - Timetable{% endblock title %}
{% block content %}

<div class="container-fluid">
    <header>
      <h4 class="display-4 mb-4 text-center">November 2020</h4>
      <div class="row d-none d-sm-flex p-1 bg-dark text-white">
        <h5 class="col-sm p-1 text-center">Sunday</h5>
        <h5 class="col-sm p-1 text-center">Monday</h5>
        <h5 class="col-sm p-1 text-center">Tuesday</h5>
        <h5 class="col-sm p-1 text-center">Wednesday</h5>
        <h5 class="col-sm p-1 text-center">Thursday</h5>
        <h5 class="col-sm p-1 text-center">Friday</h5>
        <h5 class="col-sm p-1 text-center">Saturday</h5>
      </div>
    </header>
    <div class="row border border-right-0 border-bottom-0">
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">29</span>
          <small class="col d-sm-none text-center text-muted">Sunday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">30</span>
          <small class="col d-sm-none text-center text-muted">Monday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">31</span>
          <small class="col d-sm-none text-center text-muted">Tuesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">1</span>
          <small class="col d-sm-none text-center text-muted">Wednesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">2</span>
          <small class="col d-sm-none text-center text-muted">Thursday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 bg-primary text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">3</span>
          <small class="col d-sm-none text-center text-muted">Friday</small>
          <span class="col-1"></span>
        </h5>
        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-info text-white" title="Bake Sale">Bake Sale</a>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">4</span>
          <small class="col d-sm-none text-center text-muted">Saturday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="w-100"></div>
      <div class="day col-sm p-2 border border-left-0 border-top-0  text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">5</span>
          <small class="col d-sm-none text-center text-muted">Sunday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 bg-secondary text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">6</span>
          <small class="col d-sm-none text-center text-muted">Monday</small>
          <span class="col-1"></span>
        </h5>
        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white" title="Day 1">Midterm Exams</a>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 bg-secondary text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">7</span>
          <small class="col d-sm-none text-center text-muted">Tuesday</small>
          <span class="col-1"></span>
        </h5>
        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white" title="Day 2">Midterm Exams</a>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 bg-secondary text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">8</span>
          <small class="col d-sm-none text-center text-muted">Wednesday</small>
          <span class="col-1"></span>
        </h5>
        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white" title="Day 3">Midterm Exams</a>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 bg-secondary text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">9</span>
          <small class="col d-sm-none text-center text-muted">Thursday</small>
          <span class="col-1"></span>
        </h5>
        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white" title="Day 4">Midterm Exams</a>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 bg-secondary text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">10</span>
          <small class="col d-sm-none text-center text-muted">Friday</small>
          <span class="col-1"></span>
        </h5>
        <a class="event d-block p-1 pl-2 pr-2 mb-1 rounded text-truncate small bg-danger text-white" title="Day 5">Midterm Exams</a>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">11</span>
          <small class="col d-sm-none text-center text-muted">Saturday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="w-100"></div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">12</span>
          <small class="col d-sm-none text-center text-muted">Sunday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">13</span>
          <small class="col d-sm-none text-center text-muted">Monday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">14</span>
          <small class="col d-sm-none text-center text-muted">Tuesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">15</span>
          <small class="col d-sm-none text-center text-muted">Wednesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">16</span>
          <small class="col d-sm-none text-center text-muted">Thursday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">17</span>
          <small class="col d-sm-none text-center text-muted">Friday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">18</span>
          <small class="col d-sm-none text-center text-muted">Saturday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="w-100"></div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">19</span>
          <small class="col d-sm-none text-center text-muted">Sunday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">20</span>
          <small class="col d-sm-none text-center text-muted">Monday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">21</span>
          <small class="col d-sm-none text-center text-muted">Tuesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">22</span>
          <small class="col d-sm-none text-center text-muted">Wednesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">23</span>
          <small class="col d-sm-none text-center text-muted">Thursday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">24</span>
          <small class="col d-sm-none text-center text-muted">Friday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">25</span>
          <small class="col d-sm-none text-center text-muted">Saturday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="w-100"></div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">26</span>
          <small class="col d-sm-none text-center text-muted">Sunday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">27</span>
          <small class="col d-sm-none text-center text-muted">Monday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">28</span>
          <small class="col d-sm-none text-center text-muted">Tuesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">29</span>
          <small class="col d-sm-none text-center text-muted">Wednesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate ">
        <h5 class="row align-items-center">
          <span class="date col-1">30</span>
          <small class="col d-sm-none text-center text-muted">Thursday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">1</span>
          <small class="col d-sm-none text-center text-muted">Friday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">2</span>
          <small class="col d-sm-none text-center text-muted">Saturday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="w-100"></div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">3</span>
          <small class="col d-sm-none text-center text-muted">Sunday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">4</span>
          <small class="col d-sm-none text-center text-muted">Monday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">5</span>
          <small class="col d-sm-none text-center text-muted">Tuesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">6</span>
          <small class="col d-sm-none text-center text-muted">Wednesday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">7</span>
          <small class="col d-sm-none text-center text-muted">Thursday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">8</span>
          <small class="col d-sm-none text-center text-muted">Friday</small>
          <span class="col-1"></span>
        </h5>
      </div>
      <div class="day col-sm p-2 border border-left-0 border-top-0 text-truncate d-none d-sm-inline-block bg-light text-muted">
        <h5 class="row align-items-center">
          <span class="date col-1">9</span>
          <small class="col d-sm-none text-center text-muted">Saturday</small>
          <span class="col-1"></span>
        </h5>
      </div>
    </div>
  </div>
{% endblock content %}