{% extends 'base.html' %}
{% load static %}
{% block title %}Miller Grove - Home{% endblock title %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center display-3">Welcome</h1>
    <h1 class="text-center display-8">to Miller Grove Highschool!</h1>
    <p class="text-center"><a class="btn btn-primary btn-lg" href="{% url 'news_page' %}" role="button">Check out our News Page!</a></p>
    <br>
    <img src="{% static '/images/logo.jpg'%}" style="
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;">
      </div>
{% endblock content %}