{% extends 'base.html' %}
{% load static %}
{% block title %}Miller Grove - News{% endblock title %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Covid on Campus</h1>
    <p>Keep yourself protected</p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'covid_page' %}" role="button">Learn more »</a></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Higher Options</h2>
      <p>About Higher Options at Miller Grove</p>
      <p><a class="btn btn-secondary" href="http://127.0.0.1:8000/articles/4/" role="button">Higher Options»</a></p>
    </div>
    <div class="col-md-4">
      <h2>Events Timetable</h2>
      <p>Keep yourself updated</p>
      <p><a class="btn btn-secondary" href="{% url 'events_page' %}" role="button">Timetable »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Condensed Info</h2>
      <p>View Articles</p>
      <p><a class="btn btn-secondary" href="{% url 'article_list' %}" role="button">View details »</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->

</main>

{% endblock content %}